@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f4f8fc;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15%;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 45px;
    margin-right: 12px;
}

/* Navbar Section */
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar a {
    font-size: 18px;
    padding: 15px 22px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 30px;
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: #4169e1;
    border-bottom: 2px solid #4169e1;
}

/* Hamburger Menu Icon (Mobile view) */
#menu-icon {
    display: none; /* Hidden by default on larger screens */
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

.navbar.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background: #fff;
    padding: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.navbar a {
    margin: 15px 0;
}

/* Media Queries for smaller screens */
@media screen and (max-width: 992px) {
    header {
        padding: 20px 10%;
    }

    .home {
        padding: 140px 10%;
        flex-direction: column;
    }

    .tools-container {
        flex-direction: column;
        gap: 50px;
    }

    .tool-box {
        width: 80%;
        margin: 0 auto;
    }

    .section-heading h1 {
        font-size: 2.5rem;
    }

    .social a {
        font-size: 28px;
    }

    .links a {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    /* Navbar visible on smaller screens */
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        right: 0;
        background: #fff;
        padding: 20px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    #menu-icon {
        display: block; /* Show hamburger menu icon */
        color: #333;
        font-size: 30px;
        cursor: pointer;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        margin: 10px 0;
        font-size: 18px;
    }

    /* Stock analysis section for mobile */
    .stock-analysis {
        padding: 40px 10%;
        flex-direction: column;
        align-items: center;
    }

    .stock-analysis .text {
        text-align: center;
        padding-right: 0;
    }

    .stock-analysis .img {
        margin-top: 30px;
    }
}
